<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="styles/stylesheet.css">
<title>mJohnston</title>
<link rel="icon" type="image/x-ico" href="images/jbexFaviconBlack.ico"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<script src="/scripts.js"></script>



</head>
<a href="https://johnston-m.com/"> <img class="logo" src="images/jbex05Orange.png" alt="jbex Ibex"></a>
<h1 class="title01" data-value="mJOHNSTON">mJOHNSTON</h1>
<h3 class="tagline">... let's build it out!</h3>
<script src="/scripts.js"></script>

<body>
    <main>