<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<>

  <div>
    <h1 class="pageTitle">Academics</h1>
    <p class="more">A look at completed courses and  descriptions</p>
    <p class="more">Please contact me with questions</p>
    <br/>
  </div>
    
  <div class="more">
    <a href="/download-academic" download="Michael_Johnston_AcademicCV.pdf">
      <button id="downloadButton" class="custom-btn btn-2">Download Academic CV PDF</button>
    </a>
  </div>

  <div class="documentContainer">
  <div style="text-align: center">
    <h1>Performance driven and methodical critical thinker</h1>
    <p>Determined to ensure team success.</p>
    
    <p>The experience of 15 years in athletics, 11 years of military service, and the completion of a Computer Science degree have imparted a practiced ability to read situational and human terrain allowing the generation of unique, empathetic, and efficient solutions to a variety of issues. I am looking to dedicate myself to the appropriate goal-oriented team in which members work through challenging tasks while elevating the performance of the whole as well as the individuals.</p>
  </div>

    <h2>EDUCATION</h2>
    <p>University of Colorado Colorado Springs</p>
    <p>2018 – 2022</p>
    <p>Bachelor of Innovation (BI), Computer Science</p>
    <p>Honors: cum laude</p>
    <p>Innovation Core</p>
    
    <h3>Innovation Team: Design and Lead, INOV 4010</h3>
    <p>Spring 2022</p>
    <p>Client: Global Gravity Association</p>
    <p>The Global Gravity Association (GGA) is a rebranding of the International Downhill Federation, a sanctioning body within the gravity-based sports world. The GGA sought out a consulting team to build a new website that would allow for the strengthening of their community with dedicated member areas, provide resources to athletes and event coordinators, and allow for the selling of various types of merchandise. The website was to be built with React, include a user management system, incorporate merchant services, and integrate a live tracking system for sporting events.</p>

    <h3>Entrepreneurship and Strategy, ENTP 4500</h3>
    <p>Fall 2020</p>
    <p>Capstone course for the Bachelor of Innovation. Basic knowledge of finance and accounting, marketing, operations, and management is assumed. Topics include understanding the entrepreneurial process, assessing opportunities, selecting a start-up team, financing entrepreneurial ventures, writing and presenting business plans, and new venture and competitive strategy. Utilizes lectures and case studies as well as coaching teams in the creation of a business plan and public presentation for an innovative new business or nonprofit organization.</p>

    <h2>Innovation Team: Research and Execute, INOV 3010</h2>
    <p>Fall 2019</p>
    <p>Continuation of the teams’ course sequence with advanced participation in team projects including research, design, and execution.</p>

    <h3>Client: Pueblo Department of Public Health and Environment (PDPHE), Pueblo County, CO</h3>
    <p>Derek Coe</p>
    <p>Phone: 719.###.####</p>
    <p>Email: ####@pueblocounty.us</p>

    <p>The Pueblo Department of Public Health and Environment planned to launch the Youth and Behavioral Health Campaign, an initiative to bring awareness to adults concerning the impact their actions have on youth and the influence on growth as people and Pueblo citizens. The Innovation Team analyzed community member surveys, county demographics and population densities, consulted with city officials and committees, and researched proven strategies for congruent campaigns in order to generate a personalized campaign strategy. The final campaign package included original content for social media, print media, billboards, community engagement strategies, along with future survey outlines and material for planning and administering focus groups for campaign feedback and evolution.</p>

    <h2>Business and Intellectual Property Law, BLAW 2010</h2>
    <p>Fall 2019</p>
    <p>Examines the legal significance of ideas, innovations, and start-up organizations. A focus on the issues of intellectual property including patents, copyrights, and brand protection. Coverage of essential contracts and agents.</p>

    <p>Semester project: Business Law Team created a unique invention and built a complete patent submission packet for approval by the United States Patent and Trademark Office.</p>

    <h2>Innovation Team: Analyze and Report, INOV 2010</h2>
    <p>Spring 2019</p>
    <p>Teams course emphasizing team projects, research, analyzing data, and reporting.</p>

    <h3>Client: Talking Trees, Inc.</h3>
    <p>Rosena Bakari, PhD</p>
    <p>Phone: 719.###.####</p>
    <p>Email: ####@uccs.edu</p>

    <p>Talking Trees, Inc., has a mission of supporting, and advocating for, adult survivors of childhood sexual assault. The Innovation Team re-energized communication strategies and tools for engagement with current and future members and advocates. Two websites were redesigned and rebuilt, informational brochure created for public distribution, hosted and assisted with in person events, and designed and executed social media campaigns influencing a 700% increase of incoming social media traffic and engagement.</p>

    <h2>Technical Writing, Proposals, and Presentations, INOV 2100</h2>
    <p>Fall 2018</p>
    <p>Addresses five major types of technical writing: project reports, funding proposals, magazine and trade articles, technical reports, and journal articles. Includes peer review and critical assessments of others’ writings.</p>

    <h3>Client: Warrior Family Legacy Foundation</h3>
    <p>Dorothy Bonvillain, PhD</p>
    <p>Phone: 520.###.####</p>
    <p>Email: ####@gmail.com</p>

    <p>The mission of the Warrior Family Legacy Foundation is to assist military spouses gain foundational skills and mentorship with the end goal of facilitating financial independence. The Innovation Team generated a grant proposal package with the purpose of building an operational fund of $20,000,000.00 for the Warrior Family Legacy Foundation.</p>

    <h2>The Innovation Process, INOV 1010</h2>
    <p>Spring 2018</p>
    <p>Overviews the key components in the innovation process and examples of major innovations throughout history. Examines the interdisciplinary nature of innovation. Includes group exercises focused on improving team dynamics, brainstorming, conceptual-block busting, and other creativity and problem-solving activities.</p>

    <h2>Introduction to Entrepreneurship, ENP 105</h2>
    <p>Fall 2017, Pikes Peak Community College</p>
    <p>Evaluate the business skills and commitment necessary to successfully operate an entrepreneurial venture and review the challenges and rewards of entrepreneurship. Understand the role of entrepreneurial business in the United States and the impact on our national and global economy. Navigate the process, completion, and execution of a business plan.</p>

    <h2>Innovation Cross-Discipline Core - Globalization</h2>

    <h2>Introduction to Cultural Anthropology, ANTH 1040</h2>
    <p>Spring 2021</p>
    <p>Introduction to the major aspects of culture, such as social organization, law, religion, and language.</p>

    <h2>Introduction to Global Politics, PSC 1010</h2>
    <p>Spring 2020</p>
    <p>Introductory analysis of the contemporary international system and major state and non-state actors in world politics. Considerable attention is given to internal political features and to the problems/perceptions of the various actors that shape their external behavior.</p>
    <p>Semester Paper: analysis of the instrumental value associated with holding a temporary non-permanent member seat on the United Nations Security Council.</p>

    <h2>Beginning Spanish, SPAN 1010</h2>
    <p>Fall 2018</p>
    <p>Essentials of Spanish, oral-aural skills stressed with additional reading, writing, and grammar.</p>

    <h2>Intro to Human Geography, GES 1990</h2>
    <p>Spring 2018</p>
    <p>A systematic introduction to the broad field of human-land interactions and spatial order. Emphasis is placed on the major themes of geographic inquiry including the use of thematic maps, population numbers and distribution, development, changing resource and land use, culture regions, location decisions, settlements and cities, transportation, political units, and human-environment interactions.</p>

    <h2>Computer Science</h2>

    <h3>Design and Analysis of Algorithms, CS 4720</h3>
    <p>Spring 2022/In progress</p>
    <p>Design methodologies: divide-and-conquer, exhaustive search, dynamic programming. Time and space complexity measures, analysis of algorithms. Survey of important algorithms for searching, sorting, graph manipulation. Tractability: class P and NP, NP complete problems.</p>

    <h3>Software Project Management, CS 4350</h3>
    <p>Spring 2022/In progress</p>
    <p>Planning, scheduling, costing of projects. Measuring progress, predicting success, controlling failure. Management tools and their use. Effectiveness and efficiency of software engineering environments. Distributed software development. Quality control standards and practices.</p>

    <h3>Operating Systems I, CS 4500</h3>
    <p>Fall 2021</p>
    <p>Introduces concepts, terminology, and algorithms of operating systems. Describes semaphores, processes, virtual mappings, interrupts, resource allocation and management, protection, synchronization, scheduling, queuing, and communication as applied to operating system design and implementation.</p>

    <h3>Database Systems I, CS 4420</h3>
    <p>Fall 2021</p>
    <p>Course introduces general database concepts as well as database system technology. The course covers ER and R data models, R-algebra, SQL, data storage and indexing, query optimization, database design and security.</p>
    <p>Semester project: Interactive map by way of the Mapbox service. Completed map uses data loaded into Mapbox and information relayed via the website that allows the user to select a UFO sighting location, from a world map, and receive details or video relating to the selected UFO sighting.

    <h3>Software Engineering, CS 3300</h3>
    <p>Fall 2021</p>
    <p>Students build a solid foundation for developing and maintaining sustainable codebases through modern practices. Version control, project management styles, coding best practices, cloud services, and web technologies used to create deployable products and maintain work.</p>
    <p>Semester project: Web-based application serving as a student portfolio. The portfolio was constructed as a Software as a Service (SaaS) with Ruby on Rails, utilized version control, implemented Test Driven Development (TDD), Continuous Integration/Continuous Deployment (CI/CD), user management, and cloud-based deployment.</p>

    <h3>Concepts of Programming Languages, CS 3160</h3>
    <p>Fall 2021</p>
    <p>Evolution of the central concepts of programming languages, describing syntax and semantics, data types, abstract data types, control structures, subprograms, concurrency and exception handling.</p>

    <h3>Computer Networks, CS 4220</h3>
    <p>Spring 2021</p>
    <p>Course focuses on the basic network and protocol concepts and principles with practical hands-on exercises on network management, network programming, and network planning through the use of industry simulators. Topics include internet protocols and routing, local area networks, basic TCP/IP programming, congestion control, packet switching and routing, quality-of-service, and network management.</p>

    <h3>System Admin and Security, CS 3910</h3>
    <p>Spring 2021</p>
    <p>Covers the installation and configuration of mainstream operating systems, important network services, disaster recovery procedures, and techniques for ensuring the security of the system.</p>

    <h3>Object Oriented Programming with C++, CS 3060</h3>
    <p>Spring 2021</p>
    <p>The primary areas of focus of the course include learning the fundamentals of object-oriented programming, gaining skill and proficiency in using the C++ programming language, and to exercise the C++ language in implementing a moderate-sized software system designed with objects.</p>

    <h3>Computer Architecture I, CS 4200</h3>
    <p>Fall 2020</p>
    <p>Fundamentals of computer design, instruction set principles and examples, pipelining, advanced pipelining and instruction-level parallelism, memory-hierarchy design, and survey of design issues in storage, interconnection network, and multiprocessor systems.</p>

    <h3>User Experience and User Interface Design, CS 3400</h3>
    <p>Fall 2020</p>
    <p>Introduction to user experience and user interface design. Topics include user needs analysis, usability concepts, design principles, interaction design, prototyping, usability testing, basic web technologies, and visual design principles. The emphasis is to gain practical experience in transforming user needs and product goals into a highly usable screen-based experience.</p>

    <h3>Social and Ethical Implications of Computing, CS 3050</h3>
    <p>Fall 2020</p>
    <p>Discuss selected topics in ethical, social, political, legal, and economic aspects of the application of computers.</p>

    <h3>Programming with UNIX, CS 2080</h3>
    <p>Fall 2020</p>
    <p>An introduction to the UNIX operating system with an emphasis on the development of C and command shell programs.</p>

    <h3>Computer Organization and Assembly Language Programming, CS 2160</h3>
    <p>Spring 2020</p>
    <p>Provides an introduction to the concepts of computer architecture, functional logic, design, and computer arithmetic. It presents material on the mechanics of information transfer and control within a computer system. Also included: symbolic programming techniques, implementing high-level control structures, addressing modes and their relation to arrays, subprograms, parameters, linkage to high-level languages, and the assembly process.</p>

    <h3>Data Structures and Algorithms, CS 1450</h3>
    <p>Fall 2019</p>
    <p>Concepts of data type, data abstraction, and data structure. Internal representations of fundamental data types. Linear data structures: stack, queue. Linked data structures and dynamic data types. Search table data abstraction, linear search in arrays and lists, binary search in arrays and trees. Binary trees, non-binary trees, binary search trees.</p>

    <h3>Principles of Computer Science, CS 1150</h3>
    <p>Fall 2018</p>
    <p>Introduction to programming with emphasis on computer science concepts. Develops methods for computer problem solving. Develops proficiency for programming in a modern programming language and introduces the concepts of abstraction in problem solving. Includes basic concepts of computer systems and environments including debuggers, editors, and file systems.</p>

    <h3>Programming with C, CS 2060</h3>
    <p>Fall 2018</p>
    <p>A first course in the C programming language for those who are proficient in some other high-level language.</p>

    <h3>Computational Thinking with Beginning Programming, CS 1120</h3>
    <p>Spring 2018</p>
    <p>Explores the ideas behind computational thinking: the thought processes involved in analyzing problems and formulating their solutions in precise, unambiguous ways. Topics include data collection, analysis, and representation; algorithms and procedures; simulation; and others. Most problem solutions in the course are implemented as computer programs.</p>

    <h3>Introduction to Programming, CSC 119</h3>
    <p>Fall 2017, Pikes Peak Community College</p>
    <p>Focuses on a general introduction to computer programming. Emphasizes the design and implementation of structured and logically correct programs with good documentation. Focuses on basic programming concepts, including numbering systems, control structures, modularization, and data processing. A structured programming language is used to implement the student's program designs.</p>


    <h2>EMPLOYMENT HISTORY</h2>

    <h3>Arizona Army National Guard / United States Army</h3>
    <p>2006 - 2017</p>

    <h4>Warrior Transition Battalion, Fort Carson</h4>
    <p>2014 - 2017</p>
    <p>Squad Leader/Platoon Sergeant</p>
    <p>First line supervisor for 20-36, present and out of state, regular Army, National Guard, Reserve, and Special Operations Soldiers in Transition of all ranks and grades...</p>

    <h3>Arizona Pre-Mobilization Training Assistance Element (AZ PTAE)</h3>
    <p>2012 - 2014</p>
    <p>Combat Trainer</p>
    <p>Member of an 8-man Mobilization Training Branch designated to train Active Duty, National Guard, and Reserve Component military units in all regional, military command specific, training guidance prior to CONUS and OCONUS deployment. Organize and provide administrative briefings, realistic field instruction, and combat simulation to prepare Soldiers of all ranks and grades for humanitarian, security, and combat operations worldwide.</p>

    <h3>Department of Emergency Management and Military Affairs (DEMA)</h3>
    <p>2010 - 2012</p>
    <p>Security Officer A</p>
    <p>Responsible for permitting authorized access to a Joint Forces Military Reservation, responding to emergent issues and immediate threats, providing security and access for classified meetings, analyzing security threats, and modifying mitigation factors during changes in current local/global threats and Force Protection Levels, working with local law enforcement and US government agencies for multiple security operations.</p>


    <h2>HONORS AND AWARDS</h2>

    <ul>
        <li>Dean’s List - University of Colorado Colorado Springs, Spring 2022</li>
        <li>President’s List - University of Colorado Colorado Springs, Fall 2021</li>
        <li>President’s List - University of Colorado Colorado Springs, Spring 2021</li>
        <li>President’s List - University of Colorado Colorado Springs, Fall 2020</li>
        <li>Dean’s List - University of Colorado Colorado Springs, Spring 2020</li>
        <li>President’s List - University of Colorado Colorado Springs, Fall 2019</li>
        <li>President’s List - University of Colorado Colorado Springs, Fall 2018</li>
        <li>Dean’s List - University of Colorado Colorado Springs, Spring 2018</li>
    </ul>


    <h2>REFERENCES</h2>
    <p>References available upon request.</p>

  </div>
</body>
</html>

  </div>


  <!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>