<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<div>
    <h1>fill this up</h1>
    <button id="uapLoad">UAP Page</button>
</div>
<script>
    document.getElementById('uapLoad').addEventListener('click', function() {
        // Navigate to the new page
        window.location.href = '/uap';
    });
</script>
<!-- Include the footer partial -->
<div>
<%- include("partials/main/footer.ejs") %>
</div>