<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<div class="face">
    <img src="images/home/memojiFace.png" alt="memoji face">
</div>


    <h2 class="more">Would you like to know more<span  class="blinking-text">?</span></h2>
    <br/>
    <h3><button id="uapLoad">UAP Map</button></h3>
    <h3><button id="sudokuLoad">Sudoku Solver</button></h3>
    <h3><button id="apiAuthsSecrets">Secrets (API Auths)</button></h3>



<!-- Include the footer partial -->
<div>
<%- include("partials/main/footer.ejs") %>
</div>