<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<a href="/">
	<img class="logo" src="images/home/ibexBoredChair02.jpg" alt="jbex Ibex"
/></a>
<h1 class="title01" data-value="mJOHNSTON">mJOHNSTON</h1>
<h3 class="tagline">... this place, always growing.</h3>
<div class="face">
	<img id="about" src="images/home/memojiFace.png" alt="memoji face" />
</div>

<h2 class="more">
	Would you like to know more<span class="blinking-text-1">?</span>
</h2>

<br />

<div class="button-container-about">
	<h3><button id="resume" class="custom-btn btn-2">Resume</button></h3>
	<h3><button id="academic" class="custom-btn btn-2">Academic</button></h3>
	<h3><button id="military" class="custom-btn btn-2">Military</button></h3>
</div>

<br /> 

<h2 class="more extra-top-padding">
	... or would you like to see more<span class="blinking-text-2">?</span>
</h2>

<br /> 

<div class="button-container-projects">
<h3><button id="pipeline" class="custom-btn btn-2">Pipeline for this Site</button></h3>
<h3><button id="uapLoad" class="custom-btn btn-2">UAP Map</button></h3>
<h3><button id="apiAuthsSecrets" class="custom-btn btn-2">Secrets (API Auths)</button></h3>
<h3><button id="sudokuLoad" class="custom-btn btn-2">Sudoku Solver</button></h3>
</div>




<!-- JS Script for Title Animation -->
<script>
	const letters = "01*";

	let interval = null;

	document.querySelector(".title01").onmouseover = (event) => {
		let iteration = 0;

		clearInterval(interval);

		interval = setInterval(() => {
			event.target.innerText = event.target.innerText
				.split("")
				.map((letter, index) => {
					if (index < iteration) {
						return event.target.dataset.value[index];
					}

					return letters[Math.floor(Math.random() * 3)];
				})
				.join("");

			if (iteration >= event.target.dataset.value.length) {
				clearInterval(interval);
			}

			iteration += 1 / 3;
		}, 40);
	};
</script>
<!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>
