<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>


<div>
  <h1 class="pageTitle">In Progress</h1>
</div>

<a href="https://johnston-m.com/">
	<img class="logo" src="images/ibexSuitChairRelax.jpg" alt="jbex Ibex"
/></a>

<!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>