<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

  <div>
    <h1 class="pageTitle">Military</h1>
    <h2 class="more">A short summation of military experience</h2>
    <h3 class="more">Please contact me with questions</h3>
  </div>
  
  <br/>

  <div class="more">
    <a href="/download-military" download="Michael_Johnston_MilitaryXP.pdf">
      <button id="downloadButton" class="custom-btn btn-2">Download Military Experience PDF</button>
    </a>
  </div>

  <div class="documentContainer">
    <h2>Personal Information</h2>
    <p>Name: JOHNSTON, MICHAEL D.</p>
    <p>Primary MOS: 11B3PP5Y9</p>
    <p>Present Grade: E6</p>
    <p>Date of Rank: 20130524</p>
    <p>Total Years of Service: 11 years</p>

    <br/>

    <h2>Civilian Education</h2>
    <table>
      <tr>
        <td class="experience-column">University of Colorado Colorado Springs, Bachelor of Innovation (BI) Computer Science</td>
        <td class="year-column">2018-2022</td>
      </tr>
      <tr>
        <td class="experience-column">Cardio Pulmonary Resuscitation (CPR)</td>
        <td class="year-column">2013</td>
      </tr>
      <tr>
        <td class="experience-column">M26 Advanced TASER & TASER X26</td>
        <td class="year-column">2010</td>
      </tr>
      <tr>
        <td class="experience-column">Arizona State University, Mechanical Engineering</td>
        <td class="year-column">2003-2004</td>
      </tr>
      <tr>
        <td class="experience-column">McHenry County College, Mechanical Engineering</td>
        <td class="year-column">2001-2003</td>
      </tr>
      <tr>
        <td class="experience-column">Crystal Lake Central High School, High School Diploma</td>
        <td class="year-column">1997-2001</td>
      </tr>
    </table>

    <br/>

    <h2>Military Education</h2>
    <table>
      <tr>
        <td class="experience-column">Advanced Leaders Course (Schoolhouse)</td>
        <td class="year-column">2015</td>
      </tr>
      <tr>
        <td class="experience-column">WTU Triad Training for SQD LDRS & PSG’s Course</td>
        <td class="year-column">2015</td>
      </tr>
      <tr>
        <td class="experience-column">WTU Cadre Resilience Course (CRC)</td>
        <td class="year-column">2015</td>
      </tr>
      <tr>
        <td class="experience-column">Advanced Leaders Course Phase 1 (Common Core)</td>
        <td class="year-column">2014</td>
      </tr>
      <tr>
        <td class="experience-column">Master Fitness Trainer</td>
        <td class="year-column">2013</td>
      </tr>
      <tr>
        <td class="experience-column">Bus Drivers Course (Train the Trainer)</td>
        <td class="year-column">2013</td>
      </tr>
      <tr>
        <td class="experience-column">Combat Life Saver</td>
        <td class="year-column">2009/2013</td>
      </tr>
      <tr>
        <td class="experience-column">Applied Suicide Intervention Skills Training (ASIST)</td>
        <td class="year-column">2013</td>
      </tr>
      <tr>
        <td class="experience-column">JCR – TOC & Security</td>
        <td class="year-column">2012</td>
      </tr>
      <tr>
        <td class="experience-column">Resilience Training Assistant</td>
        <td class="year-column">2012</td>
      </tr>
      <tr>
        <td class="experience-column">Technical Transportation of Hazardous Materials</td>
        <td class="year-column">2011</td>
      </tr>
      <tr>
        <td class="experience-column">Wheeled Vehicles Operator Course</td>
        <td class="year-column">2009</td>
      </tr>
      <tr>
        <td class="experience-column">US Army Airborne School, Basic Parachutist Course</td>
        <td class="year-column">2007</td>
      </tr>
      <tr>
        <td class="experience-column">Warrior Leaders Course</td>
        <td class="year-column">2011</td>
      </tr>
      <tr>
        <td class="experience-column">OSUT (11B)</td>
        <td class="year-column">2007</td>
      </tr> 
    </table>

    <br/>

    <h2>Decorations, Awards and Certificates</h2>
    <ul>
        <li>Advanced Leaders Course – Distinguished Honor Graduate Certificate</li>
        <li>Afghanistan Campaign Medal, 2 Campaign Stars</li>
        <li>Arizona National Guard Service Ribbon, x2</li>
        <li>Armed Forces Reserve Medal with “M” Device</li>
        <li>Army Commendation Medal</li>
        <li>Army Good Conduct Medal</li>
        <li>Army Overseas Service Ribbon</li>
        <li>Army Reserve Component Achievement Medal</li>
        <li>Army Reserve Components Overseas Training Ribbon</li>
        <li>Army Service Ribbon</li>
        <li>Combat Infantry Badge</li>
        <li>German Armed Forces Proficiency Badge, Gold</li>
        <li>Global War on Terrorism Service Medal</li>
        <li>Meritorious Service Medal</li>
        <li>Meritorious Unit Commendation</li>
        <li>National Defense Service Medal</li>
        <li>Non-Article 5 NATO Medal with ISAF Clasp</li>
        <li>Parachutist Badge</li>
    </ul>

    <br/>

    <h2>Significant Experience</h2>
    <table>
        <tr>
            <td class="experience-column">Driver, Gunner, Truck Commander, Team Leader, OEF</td>
            <td class="year-column">2009-2010</td>
        </tr>
        <tr>
            <td class="experience-column">Scout/Sniper Team Leader (TL)</td>
            <td class="year-column">2010-2011</td>
        </tr>
        <tr>
            <td class="experience-column">Scout/Sniper Squad Leader (SL)</td>
            <td class="year-column">2011-2013</td>
        </tr>
        <tr>
            <td class="experience-column">SL and Platoon Sergeant, Arizona’s Ultimate Fitness Challenge</td>
            <td class="year-column">2012-2014</td>
        </tr>
        <tr>
            <td class="experience-column">AZ PTAE (Mobilization Training Branch)</td>
            <td class="year-column">2012-2014</td>
        </tr>
        <tr>
            <td class="experience-column">Infantry Squad Leader</td>
            <td class="year-column">2013-2014</td>
        </tr>
        <tr>
            <td class="experience-column">SL and Platoon Sergeant, Warrior Transition Battalion – Fort Carson</td>
            <td class="year-column">2014-2017</td>
        </tr>
    </table>

    <br/>

    <h2>Civilian Employment</h2>
    <table>
        <tr>
            <td class="experience-column">Employee/Operations Manager/Owner, Red Sea Café, Tempe, Arizona</td>
            <td class="year-column">2004-2008</td>
        </tr>
        <tr>
            <td class="experience-column">Baggage Handler, Mesa Airlines, Phoenix, Arizona</td>
            <td class="year-column">2008-2009</td>
        </tr>
        <tr>
            <td class="experience-column">Security Officer A, Department of Emergency and Military Affairs (DEMA), Phoenix, Arizona</td>
            <td class="year-column">2010-2013</td>
        </tr>
    </table>
  </div>

  <!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>