<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<div>
  <h1 class="pageTitle">The Pipeline</h1>
</div>
  <p class="more">Behold, the development pipeline for this website.</p>
  <p class="more">Check back soon for the write up of implementation details.</p>
  <br/>
  

<div class="piplineMapContainer">
  <img class="pipelineMap" src="images/portfolioPipelineWhiteLine.svg" alt="pipeline" />
</div>

<!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>