<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<body>

  <div>
    <h1 class="pageTitle">Resume</h1>
    <p class="more">A quick glimps through a general resume</p>
    <p class="more">Please contact me with questions</p>
    <br/>
  </div>
    
  <div class="more">
    <a href="/download-resume" download="Michael_Johnston_Resume.pdf">
      <button id="downloadButton" class="custom-btn btn-2">Download Resume PDF</button>
    </a>
  </div>

  <div class="documentContainer">
    <div style="text-align: center;">
    <h1>Performance driven and methodical critical thinker</h1>
    <p>Determined to ensure team success.</p>
    </div>
    
  <h1>SUMMARY</h1>
  <p>Seeking a Software Engineer or Developer position in which my soft and technical skills, accrued through prior professional background, may be applied along with recent education. I am a performance-driven and methodical critical thinker determined to ensure team success, experienced in working in and leading teams through a broad spectrum of high-stakes environments.</p>

  <h2>EDUCATION</h2>
  <p>University of Colorado Colorado Springs<br>
  Colorado Springs, CO<br>
  Bachelor of Innovation (BI), Computer Science, cum laude, 2022</p>
  <p class="footnote">*Bachelor of Science enhanced with business law, entrepreneurship, and consulting</p>

  <h2>EMPLOYMENT EXPERIENCE</h2>
  <p><strong>Team/Department Manager</strong> 2014-2017<br>
  Warrior Transition Battalion, Fort Carson, United States Army</p>
  <ul>
      <li>Manager within a non-traditional organization, managing a department of 20-36 employees ranging from junior employees to upper management and including individuals from all organizational divisions.</li>
      <li>First National Guard member within the organization to successfully receive approval to attend professional development school, Advanced Leaders Course, leading the way for follow-on National Guard members to follow suit. Finished as Distinguished Honor Graduate, first in class, of the professional development school.</li>
      <li>Selected above 16 Non-Commissioned Officers to manage complex remote care platoon after allotted Cadre/employee reduction, replacing a dedicated Commander, First Sergeant, Platoon Sergeant, and Squad Leader.</li>
  </ul>

  <p><strong>Organization Operations Trainer</strong> 2012-2014<br>
  Arizona Pre-Mobilization Assistance Element (AZ PTAE), Arizona Army National Guard</p>
  <ul>
      <li>Member of 9-person team responsible for the development, coordination, and execution of training based upon strategic organizational goals and region-dependent guidance for both domestic and international operations.</li>
      <li>Selected to plan, organize, and execute the Arizona Best Warrior Competition, testing the Arizona Army National Guard’s top-performing Soldiers over three days. Successful execution resulted in selection to provide training outline, supervision, and execution for teams representing Arizona in the Army’s Best Ranger Competition.</li>
      <li>Partnered in a three-person team to create and execute a two-week, residential, fitness and well-being program to assist military members statewide with their ability to maintain a healthy lifestyle that fell within standards established by the U.S. Army. Coordinated with internal and external organizations for the provision of health and wellness subject matter experts that provided current information from industry professionals. Program success led to the performance of 8 iterations and assisted approximately 800 soldiers.</li>
  </ul>

  <p><strong>Security Officer A</strong> 2010-2012<br>
  Department of Emergency Management and Military Affairs (DEMA), State of Arizona</p>
  <ul>
      <li>Responsible for access to Joint Forces Military Reservation, responding to emergent issues and immediate threats, analyzing security threats, and modifying mitigation factors during changes in current local/global threats and Force Protection Levels.</li>
  </ul>

  <h2>SKILLS AND EXPERIENCE</h2>
  <ul>
      <li>Innovation Consulting Work</li>
      <ul>
          <li>Talking Trees, 501(c)(3): Generated informative material for organization and coordinated in-person events.</li>
          <li>City of Pueblo, Colorado: Developed marketing materials and campaign structure for the city’s Youth and Behavioral Health Campaign.</li>
          <li>Global Gravity Association, international organization: Redesign of organization website for rebranding, integration of online commerce, membership-based spaces, and real-time tracking of organization-sponsored sporting events.</li>
      </ul>
      <li>Academic</li>
      <ul>
          <li>C, C++, HTML, Java, Python, Ruby, BitBucket</li>
      </ul>
      <li>Currently Using</li>
      <ul>
          <li>HTML with CSS and JavaScript/EJS, Java, JUnit 5, GitHub, Amazon Web Services, Linode/Akamai, NGINX, NodeJS</li>
      </ul>
      <li>Secret Security Clearance reinvestigation completed 2018.</li>
      <li>15 years of experience successfully leading teams through situations of all stress and danger levels.</li>
      <li>Ability to navigate uncertain situational and human terrain, demonstrated while occupying field, office, and academic environments.</li>
      <li>Application of Agile development process while developing SaaS application.</li>
      <li>Implemented Test Driven Development through the use of Rspec and FactoryBot within a Ruby on Rails web-based application.</li>
      <li>Conducted user management with Devise.</li>
      <li>Cloud-based operations implemented via Amazon Web Services and Heroku.</li>
      <li>Limited experience with Docker containerized development environment combined with GitHub and CircleCI for managing development operations.</li>
      <li>Prototyping mobile application with Axure for minimum viable product demonstration and user experience/user interface testing.</li>
      <li>Mapbox platform utilized for generation of interactive worldwide maps.</li>
      <li>Personal traits applied to all endeavors: hardworking, detail-oriented, team success-focused, trainer, coach, mentor, dedicated and loyal to team/organization.</li>
  </ul>
</div> 
<!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>