<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<body>

  <div>
      <h1 class="pageTitle">Resume</h1>
      <p class="more">A quick glimps through a general resume</p>
      <p class="more">Please contact me with questions</p>
      <br/>
  </div>
    
  <div class="more">
      <a href="/download-resume" download="Michael_Johnston_Resume.pdf">
          <button id="downloadButton" class="custom-btn btn-2">Download Resume PDF</button>
      </a>
  </div>

  <div class="documentContainer">
      <div style="text-align: center;">
        <h1>Performance driven and methodical critical thinker</h1>
        <p>Determined to ensure team success.</p>
      </div> 

      <br/>
      <br/>

      <h1>SUMMARY</h1>
      <p>Seeking a Software Engineer or Developer position in which my soft and technical skills, accrued through prior professional background, may be applied along with recent education. I am a performance-driven and methodical critical thinker determined to ensure team success, experienced in working in and leading teams through a broad spectrum of high-stakes environments.</p>

      <br/>

      <h2>EDUCATION</h2>
      <p>University of Colorado Colorado Springs<br>
        Colorado Springs, CO<br>
        Bachelor of Innovation (BI), Computer Science, cum laude, 2022</p>
      <p class="footnote">*Bachelor of Science enhanced with business law, entrepreneurship, and consulting</p>

      <br/>

      <h2>EMPLOYMENT EXPERIENCE</h2>
      <h3><strong>Team/Department Manager</strong> 2014-2017<br>
        Warrior Transition Battalion, Fort Carson, United States Army</h3>
      <ul>
          <li>Managed a department of 20-36 employees in a non-traditional organization.</li>
          <li>First National Guard member of organization to successfully attended Advanced Leaders Course, graduating first in the class as Distinguished Honor Graduate.</li>
          <li>Replaced a dedicated Commander, First Sergeant, Platoon Sergeant, and Squad Leader after organization restructuring and led a complex remote care department.</li>
      </ul>

      <h3><strong>Organization Operations Trainer</strong> 2012-2014<br>
        Arizona Pre-Mobilization Assistance Element (AZ PTAE), Arizona Army National Guard</h3>
      <ul>
          <li>Member of 9-person team responsible for the development, coordination, and execution of training based upon strategic organizational goals for both domestic and international region dependent operations.</li>
          <li>Planned, organized, and executed the three-day Arizona Best Warrior Competition, Successful execution resulted in selection to provide training outline, supervision and execution for teams representing Arizona in the Army’s Best Ranger Competition.</li>
          <li>Partnered in three-person team to create and execute a two-week, residential, fitness and well-being. Program success led to the performance of 8 iterations and assisted approximately 800 soldiers.</li>
          <li>Coordinated with internal and external organizations for resource gathering, personnel acquisition, and operational funding.</li>
      </ul>

      <h3><strong>Security Officer A</strong> 2010-2012<br>
        Department of Emergency Management and Military Affairs (DEMA), State of Arizona</h3>
      <ul>
          <li>Responsible for access to Joint Forces Military Reservation, responding to emergent issues and immediate threats, analyzing security threats, and modifying mitigation factors during changes in current local/global threats and Force Protection Levels.</li>
      </ul>

      <br/>

      <h2>SKILLS AND EXPERIENCE</h2>
      <ul>
          <li>Innovation Consulting Work</li>
          <ul>
              <li>Talking Trees, 501(c)(3): Generated informative material for organization and coordinated in-person events.</li>
              <li>City of Pueblo, Colorado: Developed marketing materials and campaign structure for the city’s Youth and Behavioral Health Campaign.</li>
              <li>Global Gravity Association, international organization: Redesign of organization website for rebranding, integration of online commerce, membership-based spaces, and real-time tracking of organization-sponsored sporting events.</li>
          </ul>
          <li>Academic</li>
          <ul>
              <li>C, C++, HTML, Java, Python, Ruby, BitBucket</li>
          </ul>
          <li>Programming Languages: JavaScript (ES6), C, C++, HTML, Java, Python</li>
          <li>Responsive web design and development with secured connections using NGINX and Certbot with server-side actions implemented through Express.js, HTML, CSS, JavaScript (ES Modules), and EJS.</li>
          <li>API Integration with basic, key, and bearer token authentication augmented with Axios tools, asynchronous programming, and error handling.</li>
          <li>Version Control applied with GitHub through multiple branches for development, debugging, and application deployment.</li>
          <li>Improve efficiency and reduce human error through construction of end-to-end CI/CD pipeline for building and transitioning code from version control to production deployment.</li>
          <li>Implement Test Driven Development through use of Rspec and FactoryBot within a Ruby on Rails web-based application.</li>
          <li>Conduct user management with Devise to control permitted user actions and access within application or service.</li>
          <li>Implement cloud-based operations via Amazon Web Services, Linode/Akamai, and Heroku.</li>
          <li>Prototype mobile applications with Axure for minimum viable product demonstration and user interface/user experience testing.</li>
          <li>Mapbox platform utilization for generation of interactive worldwide maps.</li>
          <li>Agile development process applied while developing SaaS application.</li>
      </ul>
      
          <br/>

          <h2>ADDITIONAL INFORMATION</h2>
          <ul>
            <li>Secret Security Clearance reinvestigation completed 2018.</li>
            <li>15 years of experience successfully leading teams through situations of all stress and danger levels.</li>
            <li>Ability to navigate uncertain situational and human terrain, demonstrated while occupying field, office, and academic environments.</li>
            <li>rsonal traits: hardworking, detail oriented, team success focused, adaptable, resilient, trainer, coach, mentor, dedicated and loyal to team/organization.</li>
            <li>References and military performance reviews available upon request.</li>
          </ul>
  </div> 

<!-- Include the footer partial -->
<div><%- include("partials/main/footer.ejs") %></div>