<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<body>
	<div>
		<h1 class="pageTitle">Resume</h1>
		<p class="more">A quick glimps through a general resume</p>
		<p class="more">Please contact me with questions</p>
		<br />
	</div>

	<div class="more">
		<a href="/download-resume" download="Michael_Johnston_Resume.pdf">
			<button id="downloadButton" class="custom-btn btn-2">
				Download Resume PDF
			</button>
		</a>
	</div>

	<div class="documentContainer">
		<div style="text-align: center">
			<h1>Performance driven and methodical critical thinker</h1>
			<p>Determined to ensure team success.</p>
		</div>

		<br />
		<br />

		<h1>SUMMARY</h1>
		<p>
			Passionate leader and team member with a robust background and a strong commitment to creating innovative solutions and end user experiences. Proficient in leading teams through complex projects and delivering high-quality results. Adept at integrating data-driven insights into project management decisions and fostering a collaborative environment. Committed to enhancing operational efficiency and project success across all organizational domains.
		</p>

		<br />

		<h2>EDUCATION</h2>
		<p>
			<a class="body__link" href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-innovation-computer-science">
      University of Colorado Colorado Springs<br />
			Colorado Springs, CO<br />
			Bachelor of Innovation (BI), Computer Science, cum laude</a>
		</p>
		<p class="footnote">
			*Bachelor of Science enhanced with business law, entrepreneurship, and business consulting
		</p>
		<br />
		<h2>SKILLS AND EXPERIENCE</h2>
		<ul>
			<li>Programming Languages: C, C++, Java, JavaScript (ES6), Python</li>
			<li>
				Web Development: Experienced with Node.js, Express.js, HTML, CSS, EJS, and JavaScript (ES Modules) applications deployed on cloud-based Linux servers with NGINX routing and Certbot SSL certification.
			</li>
			<li>
				Containerization: Deployed applications that utilize third-party containers as well as personal applications containerized through repository automation and managed on deployment servers with Docker.
			</li>
			<li>
				API Integration: Strong understanding of asynchronous programming and experience using Axios and Postman for API testing and integration.
			</li>
			<li>
				Version Control: Skilled in GitHub for source control and collaborative development.
			</li>
			<li>
				CI/CD: Built and optimized secure end-to-end CI/CD pipelines for seamless code deployment. CircleCI service utilized to execute repository triggered actions for application updates, container retrieval, build testing, and monitoring.
			</li>
			<li>
				Conduct user management with Devise to control user access and permitted actions within an application or service.
			</li>
			<li>
				Testing & TDD: Familiar with Rspec, Factory Bot, and JUnit 5, with a solid foundation in test-driven development.
			</li>
			<li>
				Cloud Services: Experienced with AWS, Linode/Akamai, and Heroku for cloud infrastructure management. Launched and maintain several cloud-based servers providing web applications and database operations.
			</li>
			<li>
				Databases Management: PostgreSQL and MongoDB currently used. Developed Python and SQL scripts for data manipulation and interchange between databases.
			</li>
			<li>
				UX/UI for Databases: Built web-based applications using JavaScript with Mapbox service integration for enhanced database visualization user experiences.

			</li>
			<li>
				Prototyping: Created prototypes for mobile applications using Axure.
			</li>
			<li>
				Project Management: Developed comprehensive project plans, decomposed tasks, and managed timelines and resources for military operations and civilian technical consulting. Experience with Jira, Trello, and Notion for project tracking and collaboration.
			</li>
			<li>
				Agile Methodology: Applied Agile principles in SaaS development to improve product delivery and team collaboration.
			</li>
		</ul>
		<h2>PERSONAL PROJECTS</h2>
		<ul>
			<li>
				<a class="body__link" href="https://johnston-m.com/">Johnston-M.com</a></a>, <a class="body__link" href="https://doctorwhodabase.com">DoctorWhodabase.com</a>: Developed responsive web applications with secure connections, server-side actions, and hosted across multiple cloud-based servers.
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com/apiAuthsSecrets">API Integration Projects</a>: Implemented key and bearer token authentication with robust error handling. <a class="body__link" href="https://johnston-m.com/apiAuthsSecrets">Johnston-M.com/apiAuthsSecrets</a>
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com/uap">Interactive Historical Activity Map</a>: Built using Mapbox, enhancing user engagement with historical UAP data and multimedia. <a class="body__link" href="https://johnston-m.com/uap">Johnston-M.com/uap</a>
			</li>
			<li>
				<a class="body__link" href="https://doctorwhodabase.com">DoctorWhodabase.com</a>, Magic: The Gathering TCG Database: Developed a cloud-based PostgreSQL and MongoDB database application performing dynamic SQL queries.
				Johnston-M.com, DoctorWhodabase.com: Developed responsive web
				applications with secure connections, server-side actions, and hosted
				across multiple cloud-based servers.
			</li>
			<li>
				API Integration Projects: Implemented key and bearer token
				authentication with robust error handling. Johnston
				-M.com/apiAuthsSecrets
			</li>
			<li>
				Interactive Historical Activity Map: Built using Mapbox, enhancing user
				engagement with historical data and multimedia. Johnston-M.com/uap
			</li>
			<li>
				DoctorWhodabase.com, Magic: The Gathering TCG Database: Developed a
				cloud-based PostgreSQL and MongoDB database application performing
				dynamic SQL queries.
			</li>
		</ul>
		<br />
		<h2>Innovation Consulting Work</h2>
		<ul>
			<li>

				Talking Trees, 501(c)(3): Generated informative material for organization and coordinated in-person events.
			</li>
			<li>
				City of Pueblo, Colorado: Developed marketing materials and campaign structure for the city’s Youth and Behavioral Health Campaign.
			</li>
			<li>
				Global Gravity Association, international organization: Redesign of organization website for rebranding, integration of online commerce, membership-based spaces, and real-time tracking of organization-sponsored sporting events.
			</li>
		</ul>
		<br />
		<h2>EMPLOYMENT EXPERIENCE</h2>
		<h3>
			<strong>Team/Department Manager</strong><br />Warrior Transition
			Battalion, Fort Carson, United States Army
		</h3>
		<ul>
			<li>
				Managed a department of 20-36 employees in a non-traditional organization.
			</li>
			<li>
				First National Guard member of organization to successfully attended Advanced Leaders Course, graduating first in the class as Distinguished Honor Graduate.
			</li>
			<li>
				Replaced a dedicated Commander, First Sergeant, Platoon Sergeant, and Squad Leader after organization restructuring and led a complex remote care department.
			</li>
		</ul>

		<h3>
			<strong>Organization Operations Trainer</strong><br />
			Arizona Pre-Mobilization Assistance Element (AZ PTAE), Arizona Army National Guard
		</h3>
		<ul>
			<li>
				Member of 9-person team responsible for the development, coordination, and execution of training based upon strategic organizational goals for both domestic and international region dependent operations.
			</li>
			<li>
				Planned, organized, and executed the three-day Arizona Best Warrior Competition, Successful execution resulted in selection to provide training outline, supervision and execution for teams representing Arizona in the Army’s Best Ranger Competition.
			</li>
			<li>
				Partnered in three-person team to create and execute a two-week, residential, fitness and well-being. Program success led to the performance of 8 iterations and assisted approximately 800 soldiers.
			</li>
			<li>
				Coordinated with internal and external organizations for resource gathering, personnel acquisition, and operational funding.
      </li>
		</ul>

		<h2>ADDITIONAL INFORMATION</h2>
		<ul>
			<li>Secret Security Clearance reinvestigation completed 2018.</li>
			<li>15 years of experience successfully leading teams through situations of all stress and danger levels</li>
			<li>Ability to navigate uncertain situational and human terrain, demonstrated while occupying field, office, and academic environments.</li>
			<li>Determined problem solver that thrives within project immersion and dedicated to growing depth of knowledge to assist end users, teammates, and organization.</li>
		</ul>
	</div>

	<!-- Include the footer partial -->
	<div><%- include("partials/main/footer.ejs") %></div>
</body>
