<!-- Include the header partial -->
<%- include("partials/main/header.ejs") %>

<body>
	<div>
		<h1 class="pageTitle">Resume</h1>
		<p class="more">A quick glimps through a general resume</p>
		<p class="more">Please contact me with questions</p>
		<br />
	</div>

	<div class="more">
		<a href="/download-resume" download="Michael_Johnston_Resume.pdf">
			<button id="downloadButton" class="custom-btn btn-2">
				Download Resume PDF
			</button>
		</a>
	</div>

	<div class="documentContainer">
		<div style="text-align: center">
			<h1>Performance driven and methodical critical thinker</h1>
			<p>Determined to ensure team success.</p>
			<p>
				Accomplished, proactive leader and strategic innovator experienced in
				guiding diverse teams, streamlining complex workflows and delivering
				high-impact outcomes. Expert in converting challenging operational and
				technical issues into actionable solutions, consistently recognized for
				surpassing expectations in high-pressure environments.
			</p>
		</div>
		<br />
		<br />
		<br />
		<h2>EDUCATION</h2>
		<p>
			<a
				class="body__link"
				href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-innovation-computer-science">
				University of Colorado Colorado Springs
				<br />
				Colorado Springs, CO
				<br />
				Bachelor of Innovation (BI), Computer Science, cum laude</a
			>
		</p>
		<p class="footnote">
			*Bachelor of Science enhanced with business law, entrepreneurship, and
			business consulting
		</p>
		<br />
		<h2>EMPLOYMENT EXPERIENCE</h2>
		<h3>
			Team/Department Manager
			<br />
			Warrior Transition Battalion, Fort Carson, United States Army
		</h3>
		<ul>
			<li>
				Replaced a dedicated Commander, First Sergeant, Platoon Sergeant, and
				Squad Leader after organization restructuring and led a complex remote
				states, ensuring consistent and efficient delivery of critical medical
				professional, personal, and logistical support.
			</li>
			<li>
				As the battalion’s sole certified Master Fitness Trainer, introduced and
				executed the Army Body Composition Program, tracking compliance for 200
				Soldiers, conducting personalized counseling, developing personalized
				action plans, monitoring individual progress, and providing monthly
				program status presentations for senior leadership.
			</li>
			<li>
				Selected by senior leadership to extend 24-month role limitation an
				additional 8 months due to demonstrated mission expertise, exceptional
				multitasking in complex operations, strong leadership, and significant
				contributions to organizational effectiveness and Soldier welfare.
			</li>
		</ul>
		<h3>
			Organization Operations Trainer
			<br />
			Arizona Pre-Mobilization Training Assistance Element (AZ PTAE), Arizona
			Army National Guard
		</h3>
		<ul>
			<li>
				Member of 9-person team responsible for the development, coordination,
				and execution of training based upon strategic organizational goals for
				both domestic and international region dependent operations.
			</li>
			<li>
				Planned, organized, and executed the three-day Arizona Best Warrior
				Competition, Successful execution resulted in selection to provide
				training outline, supervision and execution for teams representing
				Arizona in the Army’s Best Ranger Competition.
			</li>
			<li>
				Partnered in three-person team to create and execute a two-week
				residential, fitness and well-being. Program success led to the
				performance of 8 iterations and assisted approximately 800 soldiers.
			</li>
			<li>
				Coordinated with internal and external organizations for resource
				gathering, personnel acquisition, and operational funding.
			</li>
		</ul>
		<br />
		<h2>Innovation Consulting Work</h2>
		<ul>
			<li>
				<strong>Warrior Family Legacy Foundation</strong>: Conducted research
				and provided strategic guidance and tools to secure $20 million in
				funding.
			</li>
			<li>
				<strong>Talking Trees, 501(c)(3)</strong>: Generated informative
				material for organization and coordinated in-person events.
			</li>
			<li>
				<strong>City of Pueblo, Colorado</strong>: Developed marketing materials
				and campaign structure for the city’s Youth and Behavioral Health
				Campaign.
			</li>
			<li>
				<strong>Global Gravity Association</strong>, international organization:
				Redesign of organization website for rebranding, integration of online
				commerce, membership-based spaces, and real-time tracking of
				organization-sponsored sporting events.
			</li>
		</ul>
		<h2>PERSONAL PROJECTS</h2>
		<ul>
			<li>
				<a class="body__link" href="https://johnston-m.com/">Johnston-M.com</a>:
				Created a responsive and secure personal website as a web development
				playground showcasing interactive projects deployed across cloud hosted
				servers with optimized
				<a class="body__link" href="https://johnston-m.com/pipeline"
					>CI/CD pipeline</a
				>
				allowing automated testing, building, packaging, containerization, and
				deployment.
			</li>
			<li>
				<a class="body__link" href="https://doctorwhodabase.com"
					>DoctorWhodabase.com</a
				>: Developed a web-based application for the Doctor Who fandom utilizing
				PostgreSQL and MongoDB for data management. The application features a
				user-friendly interface for searching and filtering data.
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com/apiAuthsSecrets"
					>API Integration Projects</a
				>: Implemented key and bearer token authentication with robust error
				handling.
				<a class="body__link" href="https://johnston-m.com/apiAuthsSecrets"
					>Johnston-M.com/apiAuthsSecrets</a
				>
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com/uap"
					>Unidentified Aerial Phenomenon (UAP) Map</a
				>: Interactive historical activity world map developed using the Mapbox
				platform to provide geographic visualization of observed UAP activity,
				event details, and external media when available.
				<a class="body__link" href="https://johnston-m.com/uap"
					>Johnston-M.com/uap</a
				>
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com">notLiveYet01.com</a
				>: Magic: The Gathering TCG Database: Developed, deployed, and maintain
				cloud-based PostgreSQL and MongoDB database applications performing
				dynamic SQL queries.
			</li>
			<li>
				<a class="body__link" href="https://johnston-m.com">notLiveYet02.com</a
				>: Magic: The Gathering TCG game tracker.
			</li>
			<li>
				* Projects implement JavaScript, EJS, Python, Node.js, Express.js,
				Axios, HTML, CSS, GitHub, Docker, Nginx, Nginx Proxy Manager, Dockge,
				cloud hosted Linux servers, PostgreSQL or MongoDB, CircleCI.
			</li>
		</ul>
		<h2>Technical Skills</h2>
		<ul>
			<li>Programming Languages: C, C++, Java, JavaScript (ES6), Python</li>
			<li>
				Web Development: Experienced with Node.js, Express.js, HTML, CSS, EJS,
				and JavaScript (ES Modules) applications deployed on cloud-based Linux
				servers with NGINX routing, Certbot SSL certification, and higher level
				management through Nginx Proxy Manager.
			</li>
			<li>
				Containerization: Deployed applications that utilize third-party Docker
				containers as well as personal applications containerized through
				repository automation and managed on deployment servers with Docker and
				Dockge.
			</li>
			<li>
				API Integration: Strong understanding of asynchronous programming and
				experience using Axios and Postman for API testing and integration.
			</li>
			<li>
				Version Control: Experienced in GitHub for source control and
				collaborative development.
			</li>
			<li>
				CI/CD: Built and optimized secure end-to-end CI/CD pipelines for
				seamless code deployment. CircleCI service utilized to execute
				repository triggered actions for application updates, container
				retrieval, build testing, deployment, and monitoring.
			</li>
			<li>
				Conduct user management with Devise to control user access and permitted
				actions within an application or service.
			</li>
			<li>
				Testing & TDD: Familiar with Rspec, Factory Bot, and JUnit 5, with a
				solid foundation in test-driven development.
			</li>
			<li>
				Cloud Services: Experienced with AWS, Linode/Akamai, and Heroku for
				cloud infrastructure management. Launched and maintain several
				cloud-based servers providing web applications and database operations.
			</li>
			<li>
				Databases Management: PostgreSQL and MongoDB currently used. Developed
				Python and SQL scripts for data manipulation and interchange between
				databases.
			</li>
			<li>
				UX/UI for Databases: Built web-based applications using JavaScript with
				Mapbox service integration for enhanced database visualization user
				experiences.
			</li>
			<li>
				Prototyping: Created prototypes for mobile applications using Axure.
			</li>
			<li>
				Project Management: Developed comprehensive project plans, decomposed
				tasks, and managed timelines and resources for military operations and
				civilian technical consulting. Experience with Jira, Trello, and Notion
				for project tracking and collaboration.
			</li>
			<li>
				Agile Methodology: Applied Agile principles in SaaS development to
				improve product delivery and team collaboration.
			</li>
		</ul>
		<br />
		<h2>ADDITIONAL INFORMATION</h2>
		<ul>
			<li>
				Achieved top ranking in class as Distinguished Honor Graduate for the
				Army Advanced Leaders Course; an intensive 4-week school focused on
				strategic leadership, effective team management, and adaptive
				problem-solving in dynamic operational environments.
			</li>
			<li>
				Ability to navigate uncertain situational and human terrain as a
				demonstrated problem solver, thrives within project immersion while
				dedicated to growing depth of knowledge to assist end users, teammates,
				and organization.
			</li>
			<li>
				15 years of experience successfully leading teams through situations of
				all stress and danger levels
			</li>
			<li>Secret Security Clearance reinvestigation completed 2018.</li>
		</ul>
	</div>

	<!-- Include the footer partial -->
	<div><%- include("partials/main/footer.ejs") %></div>
</body>
