<!-- Include the header partial -->
<div class="uapHeader"><%- include("partials/uap/uapHeader.ejs") %></div>

<!-- Include the map partial -->
<div class="container">
    <div class="uapMap"><%- include("partials/uap/uapMap.ejs") %></div>
</div>

<!-- Include the footer partial -->
<%- include("partials/main/footer.ejs") %>
