        </main>
        
        <script>
            document.getElementById('pipeline').addEventListener('click', function() {
                // Navigate to the pipeline page
                window.location.href = '/pipeline';
            });

            document.getElementById('uapLoad').addEventListener('click', function() {
                // Navigate to the UAP page
                window.location.href = '/uap';
            });

            document.getElementById('sudokuLoad').addEventListener('click', function() {
                // Navigate to the sudoku page
                window.location.href = '/sudoku';
            });

            document.getElementById('apiAuthsSecrets').addEventListener('click', function() {
                // Navigate to the apiAuthsSecrets page
                window.location.href = '/apiAuthsSecrets';
            }); 

            document.getElementById('resume').addEventListener('click', function() {
                // Navigate to the resume page
                window.location.href = '/resume';
            });
            
            document.getElementById('academic').addEventListener('click', function() {
                // Navigate to the academic page
                window.location.href = '/academic';
            });

            document.getElementById('military').addEventListener('click', function() {
                // Navigate to the military page
                window.location.href = '/military';
            });

            document.getElementById('drums').addEventListener('click', function() {
                // Navigate to the drums page
                window.location.href = '/drums';
            });

            document.getElementById('mnemosyne').addEventListener('click', function() {
                // Navigate to the mnemosyne page
                window.location.href = '/mnemosyne';
            });
            
            document.getElementById('home-btn').addEventListener('click', function() {
                // Navigate to the home page
                window.location.href = '/';
            });

        </script>
        <script src="scripts/modal.js"></script>
    </body>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <a href="mailto:Michael@Johnston-M.com" class="footer__link">Michael@Johnston-M.com</a>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a class="social-list__link" href="https://www.qrcodechimp.com/page/rz8rxs0n0lnx?v=chk1740040981">
                            <i class="far fa-address-card"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a class="social-list__link" href="https://github.com/md9j">
                            <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a
                            class="social-list__link"
                            href="https://linkedin.com/in/MichaelDJohnston-CS">
                            <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 copyright">
                    <p>mJohnston © 2022-<%= new Date().getFullYear() %></p>
                </div>
            </div>
        </div>  
    </footer>
</html>