        </main>
    </body>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <a href="mailto:Michael@Johnston-M.com" class="footer__link">Michael@Johnston-M.com</a>
                    <ul class="social-list">
                        <li class="social-list__item">
                            <a class="social-list__link" href="contactInfo.html">
                            <i class="far fa-address-card"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a class="social-list__link" href="https://github.com/md9j">
                            <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a
                            class="social-list__link"
                            href="https://linkedin.com/in/MichaelDJohnston-CS">
                            <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 copyright">
                    <p>mJohnston © <%= new Date().getFullYear() %></p>
                </div>
            </div>
        </div>  
    </footer>
</html>