@font-face {
    font-family: "greek";
    src: url("../styles/fonts/gelioPasteli.ttf");
}

/* General Tags */
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background: black;
    color: white;
    display: grid;
    place-items: center;
}

/* Title */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7rem;
    /* padding-top: 10rem; */
    border-radius: 5rem;
}

.title01 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.title01:hover {
    background-color: white;
    color: black;
    }

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin: 5% 10% 3% 10%;
}

.pageTitle {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: clamp(3rem, 10vw, 10rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.title02 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: clamp(3rem, 10vw, 10rem);
    margin: auto auto 0 auto;
}
/* Body */

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20rem;
}

/* Style for the blinking text */
.blinking-text-1 {
    animation: blink-animation 1.5s infinite;
}

.blinking-text-2 {
    animation: blink-animation 2s infinite;
}

/* Keyframes for the blinking animation */
@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    text-align: center;
}

.button-container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.button-container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.extra-top-padding {
    padding-top: 3rem;
}

/* Buttons */
button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    border: white solid 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 55% 5% 5%;
}
.custom-btn {
    width: 50px;
    height: 40px;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 
        2px 2px 2px 0px rgba(0, 0, 0, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.5),
        4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

.btn-2 {
    width: fit-content;
    border: none;
    box-shadow:
    -4px -4px 6px 0 rgba(116, 125, 136, .5)
}
.btn-2:before {
    height: 0%;
    width: 2px;
    
}
.btn-2:hover {
    box-shadow:
    4px 4px 6px 0 rgba(214, 90, 49, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* Footer */
footer {
    font-family: 'Hanken Grotesk', sans-serif;
    margin-top: 5%;
    min-height: 7rem;
    width: 100%;
}

.copyright {
    display: flex;
    margin-top: 1.5rem;
    /* padding-right: 3%; */
    justify-content: center; /*flex-end; uncomment when able to place in display bottom-right*/
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    display: flex;
    justify-content: center;
    font-weight: var(--fw-bold);
    color:#ffffff;
    text-decoration: none;
    width: auto;
}

.footer__link:hover {
    opacity: .7;
    transform: scale(1.3);
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__item:hover {
    opacity: .7;
    transform: scale(1.7);
}

.social-list__link {
    padding: .5em;
    color:#ffffff;
}

/* Resume, Academic, Military*/
.documentContainer {
    justify-content: center;
    align-items: left;
    margin: auto;
    padding-top: 3rem;
    width: 80%;
    height: 80%;
}

.documentContainer p {
    padding-left: 1rem;
}

.experience-column{
    padding-left: 1rem;
    text-align: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    width: 70%;
}
.year-column {
    padding-left: 1rem;
    text-align: center;
    align-content: right;
    vertical-align: text-top;
    justify-content: right;
    width: 15%;
}

.footnote {
    font-size: 0.75rem;
    text-align: left;
    margin-top: 1rem;
}

/* Sudoku */
.sudokuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20rem;
    width: 80%;
    height: 80%;
}

/* Pipeline */
.piplineMapContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

.pipelineMap {
    justify-content: center;
    width: 80%;
}

.containerNote {
    text-align: right; 
    margin-right: 10%;
}

/* Mnemosyne */
#level-title {
    font-family: "greek", cursive;
    font-size: 3rem;
    text-align: center;
    margin:  5%;
    color: #FEF2BF;
}

.game-title {
    font-family: "greek", cursive;
    font-size: 5rem;
    text-align: center;
    margin:  0% 5% 1% 5%;
    color: #FEF2BF
}

.container-mnemosyne {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.btn-mnemosyne {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
    background-image: url(../images/minotaur.png);
    background-size: cover;
}

.green {
    background-color: green;
    background-image: url(../images/hydra.png);
    background-size: cover;
}

.blue {
    background-color: blue;
    background-image: url(../images/werewolf.png);
    background-size: cover;
}

.yellow {
    background-color: yellow;
    background-image: url(../images/centaur.png);
    background-size: cover;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}