<div id="map">
    <div id="duration-legend" class="legend">
        <h4>Sighting Duration</h4>
        <div><span style="background-color: #bfffff"></span>> 0 - 30 sec.</div>
        <div><span style="background-color: #a4e3e4"></span>> 30 - 45 sec.</div>
        <div><span style="background-color: #8ac7c9"></span>> 45 - 60 sec.</div>
        <div><span style="background-color: #70acae"></span>> 1 - 2 min.</div>
        <div><span style="background-color: #579295"></span>> 2 - 5 min.</div>
        <div><span style="background-color: #3f787c"></span>> 5 - 10 min.</div>
        <div><span style="background-color: #256064"></span>> 10 - 60 min.</div>
        <div>
            <span style="background-color: #06484d"></span>> 1 hr. - 1 day
        </div>
        <div>
            <span style="background-color: #000000"></span>>1 day - in progress
        </div>
    </div>

    <script>
        mapboxgl.accessToken =
            "pk.eyJ1IjoibWpvaG5zdDMiLCJhIjoiY2t1YzJhMHl0MHdnaDMycTZ6NGlramt0dSJ9.w6m0rQ7szb24wu0eRQqTaw";
        const map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mjohnst3/ckw17lmdn2eca14rtdsugahny",
        });

        //center map on USA when loaded
        map.on("load", () => {
            map.fitBounds([
                [-133.2421875, 16.972741],
                [-47.63671875, 52.696361],
            ]);

            // Display sighting info when dot clicked
            map.on("click", ({ point }) => {
                const sightings = map.queryRenderedFeatures(point, {
                    layers: ["ufo15nov"],
                });

                document.getElementById("pd").innerHTML = sightings.length
                    ? `<h3 class="sightingsDetail">Date: ${sightings[0].properties.Date_time}</h3><h3 class="sightingsDetail">Location: ${sightings[0].properties.city}</h3><h3 class="sightingsDetail">UFO Shape: ${sightings[0].properties.UFOshape}</h3><h3 class="sightingsDetail">Duration: ${sightings[0].properties.describeddurationofencounter}</h3><h3 class="sightingsDetail">Description: ${sightings[0].properties.description}</h3><h3 class="sightingsDetail">Video Link: <a href=${sightings[0].properties.link} target="_blank" rel="noopener noreferrer">${sightings[0].properties.link}</a></h3>`
                    : `<p>Click a sighting dot!</p>`;
            });

            map.getCanvas().style.cursor = "crosshair"; //other options: 'pointer' (pointer finger) or 'default' (arrow)
        });
    </script>
</div>
<div class="map-overlay" id="features">
    <h2 class="sightingsTitleBox">UAP Sightings Around the World</h2>
    <div id="pd"><p>Click a sighting dot!</p></div>
</div>